
body{
    background: #9cb6ac;
    width: 1200px;
    margin: 5px auto 5px auto;

}

header{
    background: white;
    padding: 10px;
}
/* haederの中のh1タグについて */
header > h1{
    color: #9cb6ac;
    text-align: center;
    font-family: "メイリオ";
    font-weight: bold;
    font-size: 40px;
    /* 文字の幅方向の間隔を調整する */
    letter-spacing: 50px;
}

h2{
    text-align: center;
    font-family: "メイリオ";
    font-size: 30px;
}

h3{
    text-align: center;
    font-family: "メイリオ";
    font-size: 40px;
    /* 文字の幅方向の間隔を調整する */
    letter-spacing: 10px;
}

.vs{
    text-align: center;
    font-family: "メイリオ";
    width: 1200px;
    margin: 10px auto 5px auto;
    color: white;
    font-size: 20px;

}

/* スコアボード */
.coursebox{ 
    margin: 50px auto;
    width: 1200px;
    display: flex;
}

.jibun{
    color: white;
    font-size: 30px;
    font-family:  "メイリオ";
    padding: 50px 10px;
}

.aite{
    color: white;
    font-size: 30px;
    font-family:  "メイリオ";
    padding: 50px 10px;
}

.score-board{
    margin: 20px auto 20px auto;
    border: 3px solid white;
    border-radius: 40px;
    text-align: center;
    width: 250px;
    color: white;
    font-size: 60px;
    padding: 20px 20px;
}



.badge{
    color: white;
    font-size: 14px;
    padding: 2px, 10px;
    font-family: "メイリオ";
    position: absolute;

}

/* user idに対しての */
#user-label{
    position: absolute;
    top: 110px;
    left: 560px;
    margin: auto;
    font-size: 30px;
}

#computer-label{
    position: absolute;
    width: 200px;
    top: 110px;
    right: 555px;
    font-size: 30px;

}

.result{
    font-size: 40px;
    color: white;
    width: 1200px;
    height: 150px;
    text-align: center;


}

.result > P {
    text-align: center;
    font-weight: bold;
    font-family: "メイリオ";
    margin: 20px auto 20px auto;
    height: 150px;
    font-size: 40px;
    
}



.demo{
    width: 100px;
    height: 100px;
}




/* 自分の手の画像（ぐー、チョキ、パーの全部） */
.choices{
    margin: 70px auto 20px auto;
    text-align: center;
}

/* 自分の手の画像（ぐー、チョキ、パーの各々） */
.choice{
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}

.yourhand{
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    font-family: "メイリオ";
    font-size: 20px;
    /* 文字の幅方向の間隔を調整する */
    letter-spacing: 30px;
}